<!-- Etiqueta de saludo con imagen -->
<div class="saludo_bot" (click)="open()" #saludo>
    <div class="bot_mensaje">Hola soy TECbot, ¿en qué te puedo ayudar?</div>
    <img class="bot" [src]="imgChat">
</div>


<div class="floating-chat" #chat>

    <!-- Encabezado del BOT-->
    <div *ngIf="!disp_movil" class="encabezado" #enca>
        <div class='left'>
            <img style="vertical-align:middle" [src]="imgChat" width="35px"
                height="35px"><span>&nbsp;&nbsp;&nbsp;<b>TECbot</b></span>
        </div>
        <div class='right'>
            <button (click)="cambiarIdioma()" class="btn_translate">
                <p style="display:inline-block; vertical-align:middle" class="material-icons-translate">{{changeLocale}}</p>
            </button>
            <button (click)="openDialogCaritometro()" class="btn_encabezado">
                <i style="display:inline-block; vertical-align:middle" class="material-icons">tag_faces</i>
            </button>
            <button (click)="close()" class="btn_encabezado" id="btn_chbot_cerrar">
                <i style="display:inline-block; vertical-align:middle" class="material-icons">close</i>
            </button>
        </div>
    </div>

    <!-- Encabezado del BOT Dispositivo movil-->
    <div *ngIf="disp_movil" class="encabezado_movil" #enca>
        <div class='left_movil'>
            <img style="vertical-align:middle" [src]="imgChat" width="24px"
                height="24px"><span>&nbsp;&nbsp;&nbsp;<b>TECbot</b></span>
        </div>
        <div class='right_movil'>
            <button (click)="openDialogCaritometro()" class="btn_encabezado_movil">
                <i style="display:inline-block; vertical-align:middle" class="material-icons">tag_faces</i>
            </button>
            <button (click)="close()" class="btn_encabezado_movil" id="btn_chbot_cerrar_movil">
                <i style="display:inline-block; vertical-align:middle" class="material-icons">close</i>
            </button>
        </div>
    </div>


    <!-- Componente padre llama a BOT-->
    <app-bot></app-bot>

</div>