::ng-deep :root {
  --scrollbar-background: rgb(0, 166, 248);
  --scrollbar-background-track: rgba(0, 166, 248, 0.3);
  --ancho-bot: 360px;
}

::ng-deep .webchat__bubble__content>div {
  p {
    a {
      color: white !important;
      font-weight: bold !important;
      text-decoration: underline !important;
    }
  }
}

/*  ##################################################  
    ####               Estilo Webchat             ####
    ##################################################  */
::ng-deep .webchat {
  width: var(--ancho-bot);
  // height: 600px;
  cursor: default !important;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.6s, visibility 0.6s;
}

::ng-deep .webchat__send-icon {
  cursor: pointer !important;
}


/*  ##################################################  
    ####      Estilo burbujas del Chatbot         ####
    ##################################################  */
::ng-deep .webchat__bubble {
  min-width: 100%;
}

/* Texto de la burbuja de usuario */
::ng-deep .webchat__bubble--from-user .webchat__bubble__content {
  color: black !important;
}

::ng-deep .webchat__bubble__content {
  color: white !important;
  font-size: 14px !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  padding-left: 8px;
  padding-right: 8px;
  background: linear-gradient(to bottom, rgb(18, 109, 217), rgb(0, 166, 248)) !important;
}


/*  ##################################################  
    ####         Estilo imagen de Avatar          ####
    ##################################################  */
::ng-deep .webchat__imageAvatar__image {
  padding: 1px;
}

/* Separación de burbujas e imagen de bordes*/
::ng-deep .webchat__basic-transcript {
  padding-left: 8px;
  padding-right: 8px;
}


/*  ##################################################  
    ####      Estilo de Adaptive Cards            ####
    ##################################################  */
/* Adaptivecard estilos*/
::ng-deep .ac-image {
  border-radius: 5px !important;
}

::ng-deep .ac-input {
  border-radius: 5px !important;
  border-color: rgb(0, 120, 215);
}

::ng-deep .ac-input:focus {
  outline: none !important;
}

::ng-deep .ac-textBlock {
  color: white !important;
}

/*  ##################################################  
    ####    Estilo de Botones dentro de Chatbot   ####
    ##################################################  */
::ng-deep .ac-pushButton {
  font-size: 14px !important;
  padding: 6px 10px 6px 10px !important;
  border-style: none !important;
  border-radius: 10px !important;
  transition-duration: 0.6s !important;
  font-weight: normal !important;
}

/* Iconos junto a botones */
::ng-deep .ac-pushButton img {
  width: 14px !important;
  height: 14px !important;
  max-width: 14px !important;
  max-height: 14px !important;
}


/*  ##################################################  
    ####    COLORES de Botones dentro de Chatbot  ####
    ##################################################  */
/* Version POSITIVO AZUL */
::ng-deep .ac-pushButton.style-positive {
  background-color: rgb(0, 120, 215) !important;
}

::ng-deep .ac-pushButton.style-positive:hover {
  background-color: rgb(0, 84, 154) !important;
}

::ng-deep .ac-pushButton.style-positive:focus {
  background-color: rgb(160, 204, 240) !important;
  border: 1px solid rgb(0, 120, 215) !important;
  outline: none !important;
}

/* Version DESTRUCTIVO GRIS */
::ng-deep .ac-pushButton.style-destructive {
  background-color: rgb(113, 113, 113) !important;
}

::ng-deep .ac-pushButton.style-destructive:hover {
  background-color: rgb(69, 69, 69) !important;
}

::ng-deep .ac-pushButton.style-destructive:focus {
  background-color: rgb(165, 165, 165) !important;
  border: 1px solid rgb(113, 113, 113) !important;
  outline: none !important;
}



/*  ##################################################  
    ####      Estilo caja de texto Chatbot        ####
    ##################################################  */
/* Texto de superficie de escritura */
::ng-deep .webchat__send-box-text-box__input {
  font-size: 14px !important;
  background-color: white !important;
  padding-left: 13px !important;
  // font-family: 'Roboto' !important;
}

::ng-deep .webchat__send-box-text-box__input::placeholder {
  font-size: 14px !important;
}

/* Superficie contenedora de escritura y speech*/
::ng-deep div.main {
  padding-left: 12px !important;
  padding-right: 12px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  cursor: default !important;

  form{
    input {
      min-height: 20px !important;
    }
  }

  p {
    min-height: 40px !important;
    background-color: white !important;
    color: white !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    // word-wrap: break-word !important;

    font-size: 14px !important;
    padding-left: 23px !important;
    // font-family: 'Roboto' !important;

    span {
      color: black !important;
    }
  }  
}

/* Superficie de escritura derecha */
::ng-deep .webchat__icon-button {
  background-color: white !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  cursor: pointer;
}

// ::ng-deep .webchat__icon-button:hover {
//   color: red !important
// }

/* Superficie de escritura izquierda */
::ng-deep .webchat__send-box-text-box {
  background-color: white;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

/* Cuando se pulsa el botón speech*/
::ng-deep .status {
  background-color: white !important;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  opacity: 1 !important;
  color: rgb(127, 127, 127);
}


/*  ##################################################  
    ####      Estilo scroll para Firefox          ####
    ##################################################  */
::ng-deep .webchat__basic-transcript__scrollable {
  scrollbar-color: var(--scrollbar-background) var(--scrollbar-background-track);
  scrollbar-width: thin;
}


/*  ##################################################  
    ####      Estilo scroll para Chrome           ####
    ##################################################  */
::ng-deep .webchat__basic-transcript__scrollable::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::ng-deep .webchat__basic-transcript__scrollable::-webkit-scrollbar-track {
  margin: 3px;
  border-radius: 4px;
  background: var(--scrollbar-background-track);
}

/* Handle */
::ng-deep .webchat__basic-transcript__scrollable::-webkit-scrollbar-thumb {
  background: var(--scrollbar-background);
  border-radius: 4px;
}

/* Handle on hover */
::ng-deep .webchat__basic-transcript__scrollable::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, .30);
}


/*  ##################################################  
      ####         Estilos del botón mute           ####
      ##################################################  */

::ng-deep .svg_mute {
  fill: rgb(127, 127, 127);
  background: transparent;
  border: none;
}

::ng-deep .svg_mute:hover {
  fill: rgb(255, 51, 51);
  cursor: pointer;
}

::ng-deep .svg_mute_disabled {
  fill: gray;
  cursor: not-allowed;
}
