<!-- No olvidar añadir esto al Index.html -->
<!-- <script crossorigin="anonymous" src="https://cdn.botframework.com/botframework-webchat/4.11.0/webchat.js"></script> -->



<!-- Cuerpo del BOT -->
<!-- <div class="webchat" #botWindow ></div> -->
<div class="webchat" id="webchat" ></div>

<!-- <button (click)="test_parent()">TEST PARENT</button> -->
