body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.left_demo {
  padding-left: 15px;
  padding-top: 5px;
  width: 50%;
}

.notify {
  position: absolute;
  background: #db0000;
  color: white;
  height: 1em;
  width: 1em;
  border-radius: 100%;
  padding: 0.15em;
  margin-left: 0.5em;
  margin-top: -0.5em;
}


.container {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
  background: #f5f1f1;
}

.chat-box {
  background: #4f7de8;
  margin: auto;
  padding: 2em;
  height: 20em;
  width: 70%;
  border-radius: 20px;
  overflow-y: scroll;
}

.first-person, .second-person {
  display: inline-block;
  color: #fff;
  height: 25px;
  min-width: 20%;
  max-width: 60%;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  border-radius: 30px;
}

.first-person {
  background: #00ade7;
  float: left;
}

.second-person {
  background: #06c406;
  float: right;
}

.clear{ 
  clear: both;
  display: block;  
  content: "";
  width: 100%;  
}

.switcher-div {
  display: flex;
  justify-items: center;
  justify-content: center;
  gap: 10px 40px;
  padding-top: 5em;
  text-align: center;
}

#messageForm {
  text-align: center;
  margin-top: 1.5em;
}

#messageForm input {
  height: 2em;
  width: 23em;
  border-radius: 3em;
  padding: 1em;
}

#messageForm button {
  margin-left: 2em;
  height: 2.7em;
  width: 6.2em;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.clear-button {
  background: #d40000;
  color: #fff;
  float: right;
  margin-right: 3em;
  text-align: center;
  height: 2.5em;
  width: 8em;
  cursor: pointer;
}

.switcher {
  background: #cecece;
  color: #141414;
  height: 2.5em;
  width: 10em;
  border-radius: 25px;
  border: 1 px solid black;
  cursor: pointer;
}

.notify {
  position: absolute;
  background: #db0000;
  color: white;
  height: 1em;
  width: 1em;
  border-radius: 100%;
  padding: 0.15em;
  margin-left: 0.5em;
  margin-top: -0.5em;
}


/* Nuevos estilos para Chatboots */
/*  ##################################################  
    ####      Estilo del llamado del bot          ####
    ##################################################  */
.saludo_bot {
  position: fixed;
  bottom: 20px;
  right: 0px;
  z-index: 100;
  
  background-color: #00a6f8;
  height: 80px;
  width: 75px;
  transition: all 0.6s;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  cursor: pointer;
  padding-right: 10px;
  padding-left: 10px;
}

.saludo_bot:hover {
  width: 200px;
}

.saludo_bot:hover .bot_mensaje {
  right: 5px;
}

.bot_mensaje {
  transition: right 0.6s;
  margin-top: 10px;
  margin-left: 10px;
  position: fixed;
  right: -130px;
  min-width: 120px;
  width: 120px;
  height: 50px;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.bot {
  margin-top: 5px;
  float: left;
  width: 70px;
  height: 70px;
  background-image: url("https://stg0chbot0tec0prod.blob.core.windows.net/bot-imagen/BotImage.png");
  background-repeat: no-repeat;
}

.encabezado_movil {
  /* background: linear-gradient(to bottom, rgb(208,226,248),  rgb(204,238,254)) ; */
  /* background: rgb(0, 166, 248); */
  background-color:  #00a6f8;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 25px;
  color: white;
  /* width: var(--ancho-bot); */
  width: 360px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.6s, visibility 0.6s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*  ##################################################  
    ####      Estilo del encabezado del chat      ####
    ##################################################  */
.encabezado {
          /* background: linear-gradient(to bottom, rgb(208,226,248),  rgb(204,238,254)) ; */
          background: rgb(0, 166, 248);
          border-top-left-radius: 12px;
          border-top-right-radius: 12px;
          height: 45px;
          color: white;
          /* width: var(--ancho-bot); */
          width: 360px;
          visibility: visible;
          opacity: 1;
          transition: opacity 0.6s, visibility 0.6s;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
}


/*  ##################################################  
    ####      Estilo del contenedor del chat      ####
    ##################################################  */
    .floating-chat {
      /* position: fixed;
      right: 10px;
      z-index: 100;
      cursor: pointer;
      opacity: 0;
      visibility: hidden; */
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      position: fixed;
      right: 10px;
      z-index: 100;
      cursor: pointer;
      opacity: 1; 
      visibility: visible; 
      bottom: 10px;
      width: 360px;
      height: 227px;
      background: white;
      /* opacity: 1; 
      visibility: visible; 
      bottom: 10px; */
      /* transition: opacity 0.6s, visibility 0.6s;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      cursor: pointer; */
    }

    .webchat {
      height: 213px;
      opacity: 1;
      visibility: visible;
      transition: opacity 0.6s, visibility 0.6s;
      position:absolute;
      display: flex;
      flex-direction: row;
      height: 213px;
      width: 360px;
      top: 20px;
      bottom: 5px;
      left: 250px;
    }


    .left_movil {
      padding-left: 15px;
      width: 50%;
    }
    
    .right_movil {
      padding-right: 10px;
    }

    .left {
      padding-left: 15px;
      padding-top: 5px;
      width: 50%;
    }
    
    .right {
      padding-right: 10px;
      padding-top: 10px;
    }

/*  ##################################################  
        ####      Estilo de botoenes de encabezado    ####
        ##################################################  */
        .material-icons {
          font-size: 22px;
          color: white;
        }
        
        .material-icons-translate {
          font-size: 22px;
          color: white;
          margin-top: 0px;
          margin-bottom: 0px
        }
        
        .btn_encabezado {
          background: transparent;
          border: none;
        }
        
        .btn_encabezado:focus {
          border: none;
          outline: 0;
          box-shadow: 0px 0px 7px 1px #FFFFFF;
          border-radius: 3px;
        }
        
        .btn_encabezado:hover {
          cursor: pointer;
        }
        
        .btn_encabezado:disabled {
          cursor: not-allowed;
        }
        
        .btn_translate {
          /* color: white !important;
          font-size: 20px; */
          background: transparent;
          border: none;    
        }
        
        .btn_translate:focus {
          border: none;
          outline: 0;
          box-shadow: 0px 0px 7px 1px #FFFFFF;
          border-radius: 3px;
        }
        
        .btn_translate:hover {
          cursor: pointer;
        }
        
        .btn_translate:disabled {
          cursor: not-allowed;
        }

        .btn_imagenbot{
          vertical-align:middle; 
          src: 'https://stg0chbot0tec0prod.blob.core.windows.net/bot-imagen/BotImage.png'; 
          width: 35px;
          height:35px;
        }
